In [59]:

from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_11496\3446977589.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [ ]:
> pip install jupyter
> jupyter notebook

In [22]:
# 파이썬은 행단위 명령어 , 줄바꿈을 할 수 없다.
print(3 + 5)
print("hello python")

8
hello python

In [23]:
print(3+5) print("hello python")

SyntaxError: invalid syntax (2244089431.py, line 1)

In [21]:
print(3+5); print("hello python"); print(3 +10)

8
hello python
13

In [29]:
# 파이썬 기본 자료형
# 리터널 : 숫자 : 정수(10, 21), 실수(10.5, 20.2)
#         문자 : a, 김, 이숭무
#         논리 : True / False
# 10 : 정수리터널
print(10)
print(10.5)

# 변수 : 
a = 10 # 변수 a : 정수형 변수
print(a)
a = 20 
print(a)
a = 10.5 # 실수형 변수
print(a)
# 변수란 : 리터널 값을 저장하는 문자
a = 30 # 정수형 변수
print(a)

10
10.5
10
20
10.5
30

In [32]:
aaa = 10
# print(aaaa) # name 'aaaa' is not defined
print(aaa)

10

In [38]:
# 숫자 리터널을 이용한 연산자 : +, -, *, /
a = 10 * 2
print(a)
a = 10 / 2
print(a)
a = 10 + 2
print(a)
# 나머지 연산자 : %
a = 10 % 3
print(a)
# 몫 연산자 : //
a = 10  // 3
print(a)
# 제곱승 연산자 : **
a = 10 ** 3
print(a)
## 숫자리터널(정수, 실수) 연산자 : + , -, *, /, %, //,**

20
5.0
12
1
3
1000

In [51]:
# 숫자 리터널 : 10, 10.5
# 문자 리터널 : 'a', "김", '이숭무' , a: 변수, 김:변수
#              '10', "10"
a = 10
b = 'a' 
print(b)
b = a
print(b)
김 = 10
print(김)
print('김')
이숭무 = '김'
print(이숭무)
a = 10
print( a + 20)
a = "10" 
#print( a + 20)
print("10" + "10") # 연결연산자 : +
#print("10" - "10")
print(10) # 정수리터널
print("10") #문자리터널
print('10') #문자리터널

#10 = '김'
이10 = '이숭무'
print(이10)
#10이 = '이'

a
10
10
김
김
30
1010
10
10
10
이숭무

In [2]:
# 문자리터널 연산자 :  +, *
print("python " + "is fun ") # + : 연결연산자
a = "python"
b = "is"
c = "fun"
print(a+b+c)
print(a + " " + b + " " + c)
이숭무 = 'Rhee'
print(이숭무)
print(이숭무  * 3) # 반복 연산자

python is fun
pythonisfun
python is fun
Rhee
RheeRheeRhee

In [71]:
str1 = "Life is short, \n You need python" # \:escape문자:
print(str1)
str1 = """Life is short, 
You need python"""
print(str1)
str1 = '''Life is short, 
You need python'''
print(str1)
str1 = 'Life\'s fun'
print(str1)
## 문자열을 표기할 때 쓰는 기호 : "a", 'a', """a""",'''a'''
str1 = "Life's fun , You need python"
print(str1)
str1 = 'Life\'s fun , You need python'
print(str1)
str1 = "Life is fun , \"You need python\""
print(str1)
str1 = 'Life is fun , "You need python"'
print(str1)
str1 = "Life's fun , 'You need python'"
print(str1)

Life is short,
 You need python
Life is short,
You need python
Life is short,
You need python
Life's fun
Life's fun , You need python
Life's fun , You need python
Life is fun , "You need python"
Life is fun , "You need python"
Life's fun , 'You need python'

In [ ]:
print("10" + str(3)) # int:정수
# str(3) ===> "3"
str = 10
print(str)
print("10" + str(3))

In [ ]:
del str;

In [6]:
print("10" + str(3))
# str:변수, str():함수 : 함수명과 변수명이 같아서는 안된다.
###  순차적 프로그래밍언어

103

In [20]:
# indexing
str1 = "Life is too short"
#       01234567890123456  # index : 각 문자에 순서대로 부여되는 고유의 번호
#                 1
print(str1[0])
print(str1[5])
idx = 8
print(str1[idx]) # print(str1[8])
idx = 12
print(str1[idx]) # print(str1[12])
# 마지막문자를 출력
print(str1[16])
print(len(str1)) # len():크기를 가지고오는 함수
print(str1[17-1]) #print(str1[16])
print(str1[len(str1)-1])
print(str1[3])
print("Life is too short"[3])

L
i
t
s
t
17
t
t
e
e

In [26]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#      -76543210987654321    : 오른쪽에서 왼쪽으로 가는 index는 -이다.
#              1
print(str1[16])
print(str1[-1])
print(str1[0])
print(str1[-17])
print(str1[-len(str1)])

# Life를 출력하자.
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])

t
t
L
L
L
L
i
f
e
Life

In [30]:
#slicing
str1 = "Life is too short"
#       01234567890123456
#                 1
#      -76543210987654321 
#             1
print(str1[0:0+4])
print(str1[8:8+3])
print(str1[0:4]) # 0부터 4번 전까지 가지고오기

# short를 출력하세요
print(str1[12:12+5]) # 12번부터 17번 전까지
#                      start=12 , stop=17

# L문자로 부터 10글자를 출력
print(str1[0:0+10])

start = 2
cnt = 10
print(str1[start:start+cnt]) # print(str1[2:2+10])

Life
too
Life
short
Life is to
fe is too

In [40]:
str1 = "Life is too short" # index 문자의 위치를 나타내주는 고유의 번호
#       01234567890123456
#                 1
#      -76543210987654321 
#              1
print(str1[8:17])
print(str1[8:len(str1)])
print(str1[8:])
print(str1[-9:])
print(str1[-9:-9+9])  #print(str1[-9:0])
print(str1[-9:17])
# too
print(str1[-9:-9+3])
print(str1[-9:-6])
print(str1[-9:11])
print(str1[8:-6])

too short
too short
too short
too short

too short
too
too
too
too
too short

In [43]:
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
#    0123456789012
#              1
print(a[:0+8])
print(a[8:])
#년 
print(a[:4])
#월
print(a[4:4+2])
#일
print(a[6:6+2])

20010331
Rainy
2001
03
31

In [51]:
print(str1)
print(str1[:])
# 하나 건너서 출력
print(str1[::2])
#reverse 
print(str1[::-1])
# 두개씩 건너서 출력
print(str1[::3])
# 2번부터 13번까지 하나 건너서 출력
print(str1[2:14:2])
# 13번부터 2번까지 reverse
print(str1[2:14])
print(str1[13:1:-1])

Life is too short
Life is too short
Lf stosot
trohs oot si efiL
Lesosr
f stos
fe is too sh
hs oot si ef

In [56]:
str1="pithon"
print(str1)
print(str1[1])
a= 10
print(a)
a = 20
print(a)
#str1[1] = 'y' #  오류 : 문자열에서는 문자를 수정 할 수 없다
print(str1[0:1]+'y'+str1[2:])

pithon
i
10
20
python

In [62]:
# 문자열 포매팅 : string
'나의 이름은 이숭무이고 나이는 20살입니다.'
name = '이숭무'
age = 20
print('나의 이름은 ' + name + '이고 나이는 ' + str(age) + '살입니다.')
print('나의 이름은 %s이고 나이는 %d살입니다.' % (name,age))
# %s:string:문자열, %d:decimal:정수, %f:float:실수 =>포맷문자
print('나의 나이는 30살입니다.')
print('나의 나이는 %d살입니다.' % age)
print('나의 나이는 %d살입니다.' % (age))

나의 이름은 이숭무이고 나이는 20살입니다.
나의 이름은 이숭무이고 나이는 20살입니다.
나의 나이는 30살입니다.
나의 나이는 20살입니다.
나의 나이는 20살입니다.

In [67]:
'이숭무의 계좌번호는 1111이고 잔액은 100입니다.'
name='이숭무'
account = '1111'
money=100
print(name+'의 계좌번호는 '+ account +'이고 잔액은 ' + str(money) + '입니다.')
a = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(a)

이숭무의 계좌번호는 1111이고 잔액은 100입니다.
이숭무의 계좌번호는 1111이고 잔액은 100입니다.

In [73]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
height = 173.5
print("%s의 나이는 %d살이고 키는 %f입니다"%(name, age, height))
print("%s의 나이는 %d살이고 키는 %5.1f입니다"%(name, age, height))
print("%s의 나이는 %d살이고 키는 %14.10f입니다"%(name, age, height))
print("%s의 나이는 %d살이고 키는 %3.1f입니다"%(name, age, height))
print("%s의 나이는 %d살이고 키는 %.1f입니다"%(name, age, height))
a= "%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height)
print(a)

이숭무의 나이는 20살이고 키는 173.500000입니다
이숭무의 나이는 20살이고 키는 173.5입니다
이숭무의 나이는 20살이고 키는 173.5000000000입니다
이숭무의 나이는 20살이고 키는 173.5입니다
이숭무의 나이는 20살이고 키는 173.5입니다
이숭무의 나이는 20살이고 키는 173.5입니다

In [77]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬
'이숭무의 나이는 20       살이고 키는 173.5입니다'
a = '%s의 나이는 %-10d살이고 키는 %5.1f입니다' % (name, age , height)
print(a)
a = '%s의 나이는 %10d살이고 키는 %5.1f입니다' % (name, age , height)
print(a)

이숭무의 나이는 20        살이고 키는 173.5입니다
이숭무의 나이는         20살이고 키는 173.5입니다

In [87]:
# format 함수를 사용한 포매팅
# str:변수, str():함수
# print(), len(), format()
height =  173.55
'이숭무의 나이는 20살이고 키는 173.5입니다'
print('%s의 나이는 %d살이고 키는 %f입니다'%(name, age, height))
print('{0}의 나이는 {1}살이고 키는 {2}입니다.'.format(name, age, height))
#                                                    0     1     2   
# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
print('%s의 나이는 %d살이고요 %s의 키는 %f입니다.' % \
                           (name, age,name,height))
print('{1}의 나이는 {0}살이고요 {1}의 키는 {2}입니다'.\
     format(age,name,height))

이숭무의 나이는 20살이고 키는 173.550000입니다
이숭무의 나이는 20살이고 키는 173.55입니다.
이숭무의 나이는 20살이고요 이숭무의 키는 173.550000입니다.
이숭무의 나이는 20살이고요 이숭무의 키는 173.55입니다

In [97]:
# format함수에 이름으로 넣기
'이숭무의 나이는 20살이고 키는 173.55입니다.'
print('{0}의 나이는 {1}살이고 키는 {2}입니다.'.format(name,age,height))
print('{0}의 나이는 {1}살이고 키는 {2}입니다.'.format(name,age,177.5))
print('{0}의 나이는 {1}살이고 키는 {h}입니다.'.format(name,age,h=177.5))
print('{0}의 나이는 {1}살이고 키는 {h}입니다.'.format(name,age,h=height))
#print('{0}의 나이는 {a}살이고 키는 {2}입니다.'.format(name,a=age,height))
print('{0}의 나이는 {a}살이고 키는 {h}입니다.'.format(name,a=age,h=height))

이숭무의 나이는 20살이고 키는 173.55입니다.
이숭무의 나이는 20살이고 키는 177.5입니다.
이숭무의 나이는 20살이고 키는 177.5입니다.
이숭무의 나이는 20살이고 키는 173.55입니다.
이숭무의 나이는 20살이고 키는 173.55입니다.

In [99]:
# f문자열 포매팅
'이숭무의 나이는 20살이고 키는 173.55입니다.'
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다.')
a = f'{name}의 나이는 {age}살이고 키는 {height}입니다.'
print(a)

이숭무의 나이는 20살이고 키는 173.55입니다.
이숭무의 나이는 20살이고 키는 173.55입니다.

In [100]:
# 1. 포맷문자를 이용한 포맷팅
# 2. format() 함수를 이용한 포맷팅
# 3. f문자를 이용한 포맷팅
# 문자열 연산자 : +, *
# 문자열 추출 : indexing, slicing
str1 = "Life is too short"
#       012345
print(str1[8:8+3])

too

In [126]:
# 문자열 가공 : 문자열 함수
# 문자열 표기 : '',"","""""",''''''
a = "hobby"
# 길이 함수
print(len(a))
print(len("hobby"))

# 특정문자의 갯수
print(a.count("b"))
print(str1.count('i'))

# 문자의 index를 가져오기
# str1에서 too를 출력
print(str1[8:8+3])
print(str1.index('too'))
idx = str1.index('too')
cnt = len('too')
print(idx)
print(str1[idx:idx+cnt]) # print(str1[8:8+3])
print(str1[str1.index("too") : str1.index('too')+3])

##str1에서 i가 있는 문자부터 2글자
idx = str1.index('i')
print(str1[idx:idx+2])
print(str1[str1.index('i'):str1.index('i')+2])

print(str1.count('i'))

### 두번째 i부터 2글자
idx = str1.index('i') # 첫번째 index
print(idx)
idx1 = str1.index('i', 2)
print(idx1)
idx2 = str1.index('i', idx + 1 )# 첫번째 i의 index에 1을 더하기
print(idx2)
print(str1[idx2 : idx2 + 2])

#t부터 3글자
idx = str1.index('t')
print(str1[idx : idx + 3])

5
5
2
2
too
8
8
too
too
if
if
2
1
5
5
is
5
5

In [133]:
#마지막에 있는 't'부터 2글자
str1 ='Life is too short, you need python'
print(str1.count('t'))
idx = str1.rindex('t');
print(idx)
print(str1[idx:idx+2])

# t, you를 출력하시오.
idx = str1.index('t') # 첫번째 t
idx1 = str1.index('t', idx + 1) # 두번째 t
print(idx1)
print(str1[idx1:idx1+6]) 
idx2= str1.index('t', 17) # 세번째 t
idx2= str1.index('t', idx1 + 1) # 세번째 t
print(str1[idx2:idx2+2])

3
30
th
16
t, you
th

In [141]:
# find
#'too'의 위치 찾기
idx = str1.index('too')
print(idx)
print(str1[idx:idx+3])

idx = str1.find('too')
print(idx)
print(str1[idx:idx+3])

idx2 = str1.find('t', idx+1)
print(idx2)

# find와 index
result = str1.find('z') # 찾는 문자 없으면 -1
print(result)
result = str1.find('zoo')
print(result)
# result = str1.index('z') # 찾는 문자가 없는 경우 오류 발생
# find는 찾는 문자열이 있는지 없는지 확인 하고 싶을 때 주로 사용

8
too
8
too
16
-1
-1

In [150]:
print(str1)
#모두 소문자로
print(str1.lower())
print(str1)
str2 = str1.lower()
print(str2)

#모두 대문자로
print(str1.upper())
print(str1)
str2=str1.upper()
print(str2)

Life is too short, you need python
life is too short, you need python
Life is too short, you need python
life is too short, you need python
LIFE IS TOO SHORT, YOU NEED PYTHON
Life is too short, you need python
LIFE IS TOO SHORT, YOU NEED PYTHON

In [154]:
str4 = "     highland0   "
if "highland0" == str4:
    print("같다")
else:
    print("다르다")

다르다

In [155]:
### 양끝의 공백문자 제거
result = str4.strip()
print(result)
print(str4)
if "highland0" == result:
    print("같다")
else:
    print("다르다")

highland0
     highland0
같다

In [164]:
str1 = " Life is too short  "
result = str1.strip()
print(result)
result = str1.rstrip()
print(result)
result = str1.lstrip()
print(result)
str1 = "abLife is too shortab"
result = str1.strip('ab')
print(result)
print(str1)
str1 = " abLife is too shortab "
result = str1.strip()
result1 = result.strip('ab')
print(result1)
print(str1.strip().strip('ab'))

Life is too short
 Life is too short
Life is too short
Life is too short
abLife is too shortab
Life is too short
Life is too short

In [166]:
# 문자열 대체하기
str1 = "Life is too short"
str2 = str1.replace("Life","Your leg")
print(str1)
print(str2)

Life is too short
Your leg is too short

In [169]:
# 쪼개기 : split : 결과는 리스트다.
print(str1)
str2 = str1.split()
print(str2) # ['Life', 'is', 'too', 'short'] : 리스트
str1 = "Life:is:too:short"
str2= str1.split(":")
print(str2)# ['Life', 'is', 'too', 'short'] : 리스트

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']