In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_10928\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
#  리터널 : 자연수 : 정수 , 실수 
#          자연어 : 문자열, 문자
#          논리형 : True/False
# 숫자 연산자 : +, -, *, /, //, %, **
# 문자열 
#      연산자 : +, *
#      indexing, slicing
#      포맷팅 : 포맷문자를 이용한 포맷팅
#               format()함수를 이용한 포맷팅
#               f문자를 이용한 포맷팅
#      문자열함수 : 문자열 가공
# count(), len(), index(), rindex(), find(), rfind(),lower(), upper(),
# strip(), rstip(), lstip(), replace(),split()
a = 10
print(a)
a = 20
print(a)

10
20

In [7]:
a = 10;a1 = 20;a2=30
# 리스트
str1 = "Life is too short"
#       01234567890123456
#                 1        index
result = str1.split() # ['Life', 'is', 'too', 'short'] :리스트
print(result)
l = [10,20,30]  #  하나의 변수에 여러개 값을 저장하려고 
#     0  1  2  : index
print(l[0])
print(l[1])
l[1] = 100 # 리스트는 요소에 있는  index를 이용해서 요소값을 변경가능
print(l)
print(str1[0])
# str1[0] = 'l' # 문자열에 있는 문자는 index를 이용해서 변경 수 없다.

['Life', 'is', 'too', 'short']
10
20
[10, 100, 30]
L

TypeError: 'str' object does not support item assignment

In [12]:
# 숫자 : 10, 10.5
# 문자 , 문자열 : "a",'a',"""a""",'''a''', "10",'10' : a = > 변수
# 리스트 : [] : 여러개의 값을 가질 수 있는 자료형
#               여러가지의 유형을 저장할 수도 있다.
print(10 + 10)
#print("10" + 10)
print("10" + "10")
print(str1)
result = str1.split()
print(result)

20
1010
Life is too short
['Life', 'is', 'too', 'short']

In [ ]:
l = [] # 빈 리스트
l = [1,2,3,4] # 정수형리스트
l = ['이', '이숭무', 'python'] #  문자열 리스트
l = [1,2,'이숭무', 10.5] # 혼합형리스트
l = [1,2,3, '이상범', [4,5,6,7]] #  리스트를 포함한 혼합형리스트
l = [[1,2,3,4],[5,6,7,8]] # 리스트를 포함한 리스트

In [27]:
# indexing
l = [1,2,3,4,5,6]
#    0 1 2 3 4 5
#    6 5 4 3 2 1 -
str1 = 'Life is too short'
#       01234567890123456
#                 1
#       ================>
#    -  76543210987654321
#              1
#       <===============
print(str1[0])
print(l[3])
print(str1[-11])
print(str1[6])
print(l[-4]) # indexing을 하게되면 원래 자료형이 출력
print(l[2])
result = str1.split()
print(result) # ['Life', 'is', 'too', 'short']
#                  0      1      2       3
print(result[1]) # 문자열이 출력

l2 = [1,2,3, 'Life', 'is', [1,2] ,[1], 0.5, "30"]
#     0 1 2    3       4     5     6    7     8
print(l2[0]) #  indexing을 하면 본연의 자료형으로 출력
print(l2[6])
print(l2[5])
print(l2[3])
print(l2[0] + l2[1])
#print(l2[2] + l2[8])
print(l2[2] + int(l2[8]))
print(str(l2[2]) + l2[8])
print(l2[3] * l2[2]) # print('Life' * 3)

L
4
s
s
3
3
['Life', 'is', 'too', 'short']
is
1
[1]
[1, 2]
Life
3
33
330
LifeLifeLife

In [34]:
a = [1, 2, 3, 4, ['a','b','c'] ]
#    0  1  2  3        4
#                  0   1   2
#   5  4  3  2        1       -
#                  3   2   1  -
print(a[1])
print(a[4])  # ['a', 'b', 'c']
#                0    1    2
print(a[4][1])
print(['a', 'b', 'c'][1])
print(a[-1]) # ['a', 'b', 'c']
#                0    1    2
#                3    2    1  -
print(a[-1][-2])
print(a[4][-2])
print(a[-1][1])

2
['a', 'b', 'c']
b
b
['a', 'b', 'c']
b
b
b

In [38]:
a = [1, 2, 3, ['a', 'b', ['Life', 'is']]]
#    0  1  2            3
#               0    1         2
#                            0      1
print(a[3])
print(a[3][2])
print(a[3][2][0]) # Life
#                   0123
# i를 출력
print(a[3][2][0][1])

['a', 'b', ['Life', 'is']]
['Life', 'is']
Life
i

In [122]:
# slicing
str1 ='Life is too short'
#      01234567890123456
#                1
print(str1)
print(str1[8])
print(str1[8:8+3])
print(str1[8:8+1])
l = [1,2,3,4,5,6]
#    0 1 2 3 4 5
print(l[3]) # indexing을 하면 요소가 가진 본연의 자료형으로 출력
print(l[3:3+2]) # 리스트로 가져 옮
print(l[3:3+1]) # slicing을 하면 요소 하나만 가져오더래도 리스트로 가져옮

result = ['Life', 'is', 'too', 'short'] 
#           0      1       2      3
#           4      3       2      1  - 
print(result)
print(result[0]) # Life
print(result[0:0+3])
print(result[0:0+1]) # ['Life']

print(result[0] + result[1]) # Lifeis
print(result[0:0+1] + result[1:1+1]) # ['Life', 'is']
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2 # + :연결연산자
print(l3)
print(l1 * 3) # * :반복연산자
print(result[0] * 3)
print(result[0:0+1] * 3)
print(result[0:0+0])
print(result[1:1+0])
print(result[1:1+1])
print(result[1:1+2])
print(result[1:-1]) 

print(result[0:3])
print(result[0:0 + 3])

l1 = [1,2,3,4,5,6,7,8,9]
#     0 1 2 3 4 5 6 7 8
print(l1[0:0+5])
print(l1[:5])
print(l1[4:4+5])
print(l1[4:]) #####
print(len(l1))
print(l1[4:len(l1)])
print(l1[0:0+5])
print([1, 2, 3, 4, 5])
print(l1)
print(l1[:])
print(l1[::2])
print(l1[::3])
print(l1[7:2:-1]) # 역방향

Life is too short
t
too
t
4
[4, 5]
[4]
['Life', 'is', 'too', 'short']
Life
['Life', 'is', 'too']
['Life']
Lifeis
['Life', 'is']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
LifeLifeLife
['Life', 'Life', 'Life']
[]
[]
['is']
['is', 'too']
['is', 'too']
['Life', 'is', 'too']
['Life', 'is', 'too']
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
9
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, 4, 7]
[8, 7, 6, 5, 4]

In [68]:
str1 = 'Life is too short'
print(str1) 
str2 = str1.replace("Life", "Your leg")
print(str2)
c = ['Life', 'is', 'too', 'short'] 
print(c[0])
c[0] = 'Your leg'
print(c)

Life is too short
Your leg is too short
Life
['Your leg', 'is', 'too', 'short']

In [78]:
# indexing과 slicing을 같이 사용
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
# [3, ['a', 'b', 'c'], 4]를 출력
print(a[2:2+3]) # [3, ['a', 'b', 'c'], 4]
#                  0         1         2
# ['a', 'b', 'c']를 출력
print(a[3])
print(a[2:2+3][1]) # ['a', 'b', 'c']
#                      0    1    2
# b출력
print(a[3][1])
print(a[2:2+3][1][1])
print(a[2:2+3][1:2][0][1]) # [['a', 'b', 'c']]
#                                   0
#                              0    1    2
# 마지막 요소의 값을 출력하시오.
print(a[5]) 
print(len(a))
print(a[len(a)-1])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
['a', 'b', 'c']
b
b
b
5
6
5

In [88]:
# 리스트 함수
# 리스트에 요소 추가 
# append()
l1 = ['Life','is']
# 요소 'is' 뒤에 'too'를 추가  ['Life','is','too']
print(l1 + ['too'])
print(l1)
l1.append('too')
print(l1)
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
l1 = ['Life','short']
#       0       1
l1.insert(1, 'is')
print(l1) # ['Life', 'is', 'short']
l1.insert(2, 'too')
print(l1)
# 리스트를 확장
print([1,2,3]+[4,5,6])
a = [1,2,3]
l1.extend(a)
print(l1)

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
['Life', 'is', 'too', 'short', 1, 2, 3]

In [106]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#        0      1      2      3     4  5  6
# indexing
del l1[4]
print(l1)
#slicing을 이용해서 삭제
print(l1[2:2+2])
del l1[2:2+2]
print(l1)
print(l1[1:1 + 3])
print(l1[1:])
del l1[1:]
print(l1)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# 요소를 이용해서 삭제
l1.remove('short')
print(l1)
l1.remove(1)
print(l1)
l1.remove('is')
print(l1)
result = l1.remove('too') # remove는 삭제한 요소를 가지고 오지 않는다
print(result)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#       0       1     2      3      4  5  6
# 삭제된 요소를 오기
result = l1.pop(3) # index를 사용
print(result)
print(l1)
result = l1.pop() # 마지막요소가 삭제
print(result)
print(l1)
l2 = [1,2,3,4,5,6,7,8,9]
result = l2.pop(6) 
print(result)
print(l2)
result = l2.pop(6) # 비복원 추출
print(result)
print(l2)
# 주사위 : 복원추출
# 로또 : 비복원추출

['Life', 'is', 'too', 'short', 2, 3]
['too', 'short']
['Life', 'is', 2, 3]
['is', 2, 3]
['is', 2, 3]
['Life']
['Life', 'is', 'too', 1, 2, 3]
['Life', 'is', 'too', 2, 3]
['Life', 'too', 2, 3]
None
short
['Life', 'is', 'too', 1, 2, 3]
3
['Life', 'is', 'too', 1, 2]
7
[1, 2, 3, 4, 5, 6, 8, 9]
8
[1, 2, 3, 4, 5, 6, 9]

In [128]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
# 오름차순
l.sort()
print(l)
# 내림차순
l.sort(reverse=True)
print(l)
l = ['b','a','c']
l.sort()
print(l)
#l = ['b','a','c',3,1,2]
#l.sort()
# 문자열과 숫자가 혼합된 리스트는 정렬 (x):

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']

In [140]:
# 리터널 자료형 : 자연수 : 정수 , 실수 : 10, 10.52
#                자연어 : 문자, 문자열 : "",'',"""""",''''''
#                부울 : 논리형 :  True/False
# 리스트 : [],[1],[10.5], [1,2,'a']
# 튜플 : (), (1,),(10.5,), (1,2,'a')
l = []
print(l)
t = ()
print(t)
print(1)
print([1])
print((3 + 5) * 2)
print((1)) # 최우선 연산자
print((1,)) # 요소가 하나인경우
print((1,2)) # 정수형 튜플
print(('이','숭무')) # 문자열 튜플
print(('이','숭무', 1,2)) # 혼합형튜플
t = ((1,2),(3,4)) # 튜플을 포함한 튜플
print(t)
t = ('이','숭무',1,2,(3,4)) # 튜플을 포함한 혼합형 튜플
t = ('이','숭무',1,2,(3,4),[4,5,6]) # 혼합형 튜플
print(t)
l = [1,2,'이','숭무',[3,4],(5,6)]
print(l)
t = (1,2,3,4,5,6)
print(t)
t = 1,2,3,4,5,6
print(t)

[]
()
1
[1]
16
1
(1,)
(1, 2)
('이', '숭무')
('이', '숭무', 1, 2)
((1, 2), (3, 4))
('이', '숭무', 1, 2, (3, 4), [4, 5, 6])
[1, 2, '이', '숭무', [3, 4], (5, 6)]
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [174]:
str1 = "Life is too short"
#       0123456789
l = [1,2,3,4,3] # indexing, slicing
t = (1,2,3,4,3)
print(str1[3])
print(l[0])
print(t[0])
print(l[2:])
print(t[2:])
print(l[1:1+2])
print(t[1:1+2])
l[2] = 10
print(l)
print(t[2])
#t[2] = 10 #  튜플안에 있는 요소의 값은 바뀌지 않는다.
# 리스트는 요소의 값을 변경할 수 있지만 튜플은 요소의값을 변경할 수 없다.
# 데이터를 상수화하기 위해서 사용
print(l[1:1+2] + [20])
print(t[1:1+2] + (20,))
print(l[:4])
print(t[:4])
print(t[::2])
print(t[4:1:-1])
# 함수       0  1   2  3  4
print(l)  # [1, 2, 10, 4, 3]
print(l.index(3))
print(t)
print(t.index(3)) # 리스트에 find가 없다, 문자열에만 find가 있다
l = [1, 2, 3, 4, 3]
print(l.index(3))
print(l.index(3, 3))
print(l.index(3, l.index(3) + 1))
t = (1, 2, 3, 4, 3)
print(t.index(3))
print(t.index(3, 3))
print(t.index(3, t.index(3) + 1))

print(l)
del l[2]
print(l)
print(t)
# del t[2]
print(l.count(3))
print(t.count(3))
print(len(l))
print(len(t))

e
1
1
[3, 4, 3]
(3, 4, 3)
[2, 3]
(2, 3)
[1, 2, 10, 4, 3]
3
[2, 10, 20]
(2, 3, 20)
[1, 2, 10, 4]
(1, 2, 3, 4)
(1, 3, 3)
(3, 4, 3)
[1, 2, 10, 4, 3]
4
(1, 2, 3, 4, 3)
2
2
4
4
2
4
4
[1, 2, 3, 4, 3]
[1, 2, 4, 3]
(1, 2, 3, 4, 3)
1
2
4
5

In [190]:
# 형변환
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
l = list(t)
print(l)
t = tuple(l)
print(t)

i = int("10")
print(i)
str2 = str(10)
print(str2)
f = float("10.5")
print(f)

['h', 'e', 'l', 'l', 'o']

In [198]:
# 리스트나 튜플을 문자열로 변환 
l = ['Life', 'is', 'too', 'short' ]
t = ('Life', 'is', 'too', 'short' )
str3 = "".join(l)
print(str3)
str3 = " ".join(l)
print(str3)
str3 = "".join(t)
print(str3)
str3 = " ".join(t)
print(str3)
str3 = ":".join(l)
print(str3)
str3 = ":".join(t)
print(str3)

str1 = "hello"
print(str1)
str3 = ",".join(str1)
print(str3)
str3 = ":".join(str1)
print(str3)

Lifeistooshort
Life is too short
Lifeistooshort
Life is too short
Life:is:too:short
Life:is:too:short
hello
h,e,l,l,o
h:e:l:l:o

In [202]:
# 리터널 : 정수, 실수, 문자 : "",'' 부울
# 리스트 : [], 튜플 : ()
l =[1,2,3,4,5,6]
#   0 1 2 3 4 5
# 딕셔너리(사전) : {key : value,key : value,key : value,...key : value}
l = [] # 빈리스트
t = () #빈 튜플
dic = {} # 빈 딕셔너리
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
print(dic1)
print(dic1['name'])
print(dic1['age'])
print(dic1['height'])

{'name': '이숭무', 'age': 35, 'height': 175.5}
이숭무
35
175.5

In [215]:
l = [1,2,3,4]
print(l[1])
t = (1,2,3,4)
print(t[1])
dic2 = {2:'이숭무',1:'이장범',3:'이상범'}
#          0          1         2 : index를 사용하면 안된다.
print(dic2[2]) # 딕셔너리에서는 값을 키로 가져온다.
l[0] = 10
print(l)
dic2[2] = '김찬중'
print(dic2)
# [10, 2, 3, 4]
#   0  1  2  3
l[3] = 40
print(l)
# l[4] = 50:  list assignment index out of range
# index의 길이가 넘어서 생긴오류
print(dic2)
dic2[1] = '이숭무'
print(dic2)
dic2[4] = '이정범'
print(dic2)
# 딕셔너리는 키가 존재하면 수정이되고 키가 없으면 추가가 된다.
# 키의 중복을 허용하지 않는다.
dic3 = {1:'이' , 1 :'숭'}
print(dic3)
dic3 = {1:'이'}
dic3[1] = '숭'
print(dic3)

2
2
이숭무
[10, 2, 3, 4]
{2: '김찬중', 1: '이장범', 3: '이상범'}
[10, 2, 3, 40]
{2: '김찬중', 1: '이장범', 3: '이상범'}
{2: '김찬중', 1: '이숭무', 3: '이상범'}
{2: '김찬중', 1: '이숭무', 3: '이상범', 4: '이정범'}
{1: '숭'}
{1: '숭'}

In [224]:
# 문자열, 리스트, 튜플의 공통점은 : indexing, slicing
# 딕셔너리 함수 
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
l = [1,2,3,4]
#    0 1 2 3
del l[1]
print(l)
# 딕셔너리 요소 삭제
del dic1['age']
print(dic1)

# 딕셔너리에 있는 키를 가져오기
print(dic1.keys())
# 딕셔너리에 있는 값만 가져오기
print(dic1.values())
# 키와 value 를 한쌍으로 묶어서 가져오기
print(dic1.items())

l = [1,2,3,4,5]
del l[:]
print(l)
l = [1,2,3,4,5]
l.clear() # 리스트에 있는 모든요소 삭제
print(l)
print(dic1)
dic1.clear()  # 딕셔너리에 있는 모든요소 삭제
print(dic1)

[1, 3, 4]
{'name': '이숭무', 'height': 175.5}
dict_keys(['name', 'height'])
dict_values(['이숭무', 175.5])
dict_items([('name', '이숭무'), ('height', 175.5)])
[]
[]
{'name': '이숭무', 'height': 175.5}
{}

In [231]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(dic['birth'])
dic['birth'] = '19991118'
print(dic)
print(dic['birth']) # '19991118'
#                      01234567
#                    - 87654321
## 년 | 월  | 일을 따로 출력하세요
print(dic['birth'][:4])
print('19991118'[:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:6+2])

print(dic['birth'][:-4])
print(dic['birth'][-4:-4+2])
print(dic['birth'][-2:])
print(dic['birth'][-2:6+2])

1118
{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
19991118
1999
1999
11
18
1999
11
18
18

In [243]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
print(dic)
print(dic['name'])
print(dic.get('name'))

# print(dic['addr']) # 키가 없으면 오류 발생
print(dic.get('addr'))
print(dic.get('addr', '서울'))

dic1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
dic2 = {'classic':500, 'pop' : 700 }
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
# print(dic1['jazz'] + dic2['jazz'])
print(dic1.get('classic', 0 ) + dic2.get('classic', 0))
print(dic1.get('pop' , 0) + dic2.get('pop', 0))
print(dic1.get('jazz', 0 ) + dic2.get('jazz', 100))

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
pey
pey
None
서울
1000
1400
1000
1400
1000

In [250]:
# 정수 실수 문자열 튜플 리스트 딕셔너리
# 집합자료형(set) : 교집합 합집합 차집합
dic = {1:'이', 2:'숭'}
dic = {} # 빈 딕셔너리
s = {1,2,3,4} # 빈 집합은 존재하지 않는다.
print(s)
str1 = "hello"
l = list(str1)
print(l)
s  = set(str1) #  중복값을 허용하지 않는다. 순서를 가지지 않는다.
print(s)
s = {1,2,3,3,4,5,5,6}
print(s)
s = set([1,2,3,4,5])
print(s)
s  = set((1,2,3,4,5))
print(s)

{1, 2, 3, 4}
['h', 'e', 'l', 'l', 'o']
{'l', 'o', 'h', 'e'}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [257]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
#교집합
print(s1 & s2)
print(s1.intersection(s2))
# 합집합 
print(s1 | s2) 
print(s1.union(s2))
# 차집합
print( s1 - s2)
print( s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [278]:
# 집합 함수
# 하나의 요소 추가
s1 = {1, 2, 3, 4}
print(s1)
s1.add(7)
print(s1)
s1.add(9)
print(s1)
s1.add('a')
print(s1)
#s1에 10,11,12를 추가
#s1.add(10,11,12)
s1.add((10,11,12)) #  하나로 생각해서 넣는다.
#s1.add([10,11,12])
print(s1)
# 여러개의 요소 추가
s1.update([10,11,12]) # 리스트나 튜플에있는 요소를 각각으로 생각해서 넣는다.
s1.update((13,14,15))
print(s1)
# 삭제 : 여러개의 요소를 같이 삭제 할 수 없다.
s1.remove((10,11,12)) # 튜플
print(s1)
s1.remove('a') #요소 하나씩만 삭제 가능
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 7, 9, 'a'}
{1, 2, 3, 4, 7, 9, 'a', (10, 11, 12)}
{1, 2, 3, 4, 7, 9, 10, 'a', 11, (10, 11, 12), 12, 13, 14, 15}
{1, 2, 3, 4, 7, 9, 10, 'a', 11, 12, 13, 14, 15}
{1, 2, 3, 4, 7, 9, 10, 11, 12, 13, 14, 15}

In [285]:
# 정수, 실수, 문자열, 리스트, 튜플, 딕셔너리, 집합
# 부울(bool) : 논리형 : True/False
bo = True
print(bo)
bo = False
print(bo)
# bo = true : name 'true' is not defined
bo = 'true' 
print(bo)
bo = 'True'
print(bo)

True
False
true
True

In [292]:
# 논리연산 : 부울타입을 사용
print(True and True)
print(True or False)
# 논리연산을 하려면 부울타입의 결과가 있는 것을 이용해서 연산한다.
# 비교연산자 : <, > ,<=, >= , ==, !=는 부울타입의 결과를 가지고 온다.
a = 10
b = a
val1 = 10
val2 = 20
print(val1 > val2) # False
print(val1 == val2) # False
# 
mat = 40
eng = 80
#각 과목이 40점이상이고 평균이 60점 이상이면 True 아니면 Fasle
result = mat >= 40 and eng >= 40 and (mat+eng) / 2 >= 60
print(result)
#논리연산을 하기 위해서는 비교(관계)연산을 같이 해야 한다.
if result:
    print("합격")
else:
    print("불합격")

True
True
False
False
True
합격

In [308]:
print(bool('이숭무'))
print(bool(''))  # bank :  False
print(bool(-1))
print(bool(1))
print(bool(0)) # False
print(bool(0.0)) #False
print(bool([])) #False
print(bool([1,2,3]))
print(bool(())) #False
print(bool((1,2,3)))
print(bool({})) #False
print(bool({1:'이'}))
print(bool(None)) #False

True
False
True
True
False
False
False
True
False
True
False
True
False

In [316]:
str1 = 'hello' #문자열형 변수
i = 10 # 정수형변수
f = 10.5
l = [1,2,3,4]
t = (1,2,3,4)
dic = {1:'이'}
s = {1,2,3,4}
b = True
print(type(str1)) # <class 'str'>
print(type(i)) # <class 'int'>
print(type(f)) # <class 'float'>
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [327]:
#변수를 만드는 여러 가지 방법
a = 10
l = [1,2,3,4]
a , b = 10 , 20
print(a, b)
a , b = (10 , 20)
print(a, b)
a , b = [10 , 20]
print(a, b)
(a , b) = 10 , 20
print(a, b)
[a , b] = 10 , 20
print(a, b)
[a , b] = (10 , 20)
print(a, b)
a, b, c = 10, 20, '이숭무'
print(a,b,c)
# a,b,c = 10, 20 # not enough values to unpack (expected 3, got 2)

10 20
10 20
10 20
10 20
10 20
10 20
10 20 이숭무

In [338]:
a = 10
b = a
print(a, b)
b = 20
print(a)
l = [1,2,3]
l1 = l  # (x)
print(l, l1)
l1[0] = 10
print(l, l1)
l = [1,2,3]
l1 = [1,2,3]
l1 = 20
print(l)
l1 = l[:] # slicing
print(l, l1)
l1[0] = 10
print(l, l1)

10 10
10
[1, 2, 3] [1, 2, 3]
[10, 2, 3] [10, 2, 3]
[1, 2, 3]
[1, 2, 3] [1, 2, 3]
[1, 2, 3] [10, 2, 3]

In [341]:
# 값 서로 교환하기
# 일반적인 방법
a = 10; b = 20
item = b
b = a
a = item
print(a,b)

# python형식
a , b = b , a
print(a, b)

a = b= c= 10
print(a,b,c)

20 10
10 20
10 10 10

In [354]:
# 제어문 : 조건문, 반복문
# bool을 타입을 이용해서 원하는 결과를 얻어오는 것 : 논리연산 , 비교연산
# 조건문
# 조건식(논리연산과 비교연산으로 만든식)에 따라 실행되거나 안되게 하는것
# 조건식의 결과가 True라면 if문안에 있는 명령이 실행된다.
# if문안에 있는 명령을 실행하려면 들여쓰기를 해야한다.
# 들여쓰기는 tab키와 공백문자를 이용할 수 있는데 두개를 혼용할 수 없다.
# tab을 많이 사용한다.
# 조건식 뒤에는 :이 와야한다.
'''
if 조건식:
    명령어1
    명령어2
    명령어3
    ...
    명령어n
명령어
'''
if '이숭무':
    print("문자열을 참입니다.")
    print("계속명령어가 실행")
if '':
    print('blank는 거짓입니다.')
    print('실행되면 안됨')
print("실행 끝")

문자열을 참입니다.
계속명령어가 실행
실행 끝

In [359]:
#  단일 if
a = 10
if a < 20:
    print("a는 20보다 작다.")
    
    print('안녕')
print('if 문의 끝')

if a > 20:
    print("a는 20보다 크다")
    
print('if 문의 끝')

a는 20보다 작다.
안녕
if 문의 끝
if 문의 끝

In [361]:
money = 2000
if money >= 2000: # True
    print("차를 타고 가시오")
if money < 2000: # False
    print("걸어가시오")

차를 타고 가시오

In [366]:
# if ~ else
'''
if 조건식 :
    명령어1
    명령어2
    ...
    명령어n
else:
    명령어11
    명령어12
    ...
    명령어nn
'''
if money >= 2000: # True
    print("차를타고가시오 ")
else: #False
    print("걸어가시오");

if money < 2000:
    print("걸어가시오")
    print("걸어가시오")
    print("걸어가시오")
    print("걸어가시오")
else: # False
    print("차를타고 가시오")
    print("차를타고 가시오")
    print("차를타고 가시오")
    print("차를타고 가시오")

x = 10; y = 20
if x == y: 
    print("x와 y는 같다")
else:
    print("x와 y는 다르다")
    
if x != y:
    print("x와 y는 다르다")
else:
    print("x와 y는 같다")

차를타고가시오
차를타고 가시오
차를타고 가시오
차를타고 가시오
차를타고 가시오
x와 y는 다르다
x와 y는 다르다

In [378]:
#in연산자 사용하기
print(1 in [1,2,3,4,5])
print(3 in [1,2,3,4,5])
print(7 in [1,2,3,4,5])
t = (1,2,3,4,5)
print(2 in t)
print(10 not in t)
print(2 not in t)

print( "y" in "python")
print( "th" in "python")
print( "이" in "python")
print( "이" not in "python")

print( 1 in  {1:'이', 2:'숭'}) #키가 있는지
dic = {1:'이', 2:'숭'}
print( 1 in dic)
print( 3 in dic)
print( 3 not in dic)

True
True
False
True
True
False
True
True
False
True
True
True
False
True

In [380]:
if "k" in "python":
    print("k가 있다.")
else:
    print("k가 없다")
    
str1 = "python"
if "k" in str1:
    print("k가 있다.")
else:
    print("k가 없다")
    
l = [1,2,3,4,5,6]
if 6 in l:
    print("리스트에 6이 있습니다.")
else:
    print("리스트에 6이 없습니다.")
    
if 6  not in l:
    print("리스트에 6이 없습니다.")
else:
    print("리스트에 6이 있습니다.")
    
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('주머니에 돈이 있어요.')
else:
    print('주머니에 돈이 없어요.')

k가 없다
k가 없다

In [383]:
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = mat>= 40 and eng >= 40 and kor >= 40 and (mat+eng+kor) / 3 >= 60
print(result)
if result:
    print("합격")
else:
    print("불합격")

if mat>= 40 and eng >= 40 and kor >= 40 and (mat+eng+kor) / 3 >= 60:
    print("합격")
else:
    print("불합격")

False
불합격
불합격

In [384]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 
# 그렇지 않으면 F
# 조건이 여러개인 경우
score = 78
if score >= 90:
    print('A')
else: # 0 ~ 89
    if score >= 80:
        print('B')
    else: # 0 ~ 79
        if score >= 70:
            print('C')
        else:
            if score >= 60:
                print('D')
            else: # 0 ~ 59
                print('F')

C

In [385]:
# if ~ elif ~ else문
if score >= 90: # 조건식은 if 문에만 있다
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else: # 0 ~ 59
    print('F')

C

In [386]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
# 중첩 if문
if score >= 90:
    if score >= 95:
        print('A+')
    else:
        print('A')
elif score >= 80:
    if score>=85:
        print('B+')
    else:
        print('B')
elif score >= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score >= 60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else: # 0 ~ 59
    print('F')

C+

In [389]:
'''
score가 60이상이면 message 변수에 success를 아니면 message 에 failure를 
저장한 후 출력
'''
score = 78
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

# python type으로 변경
message = "success" if score >= 60 else "failure"
print(message)

success
success

In [392]:
score = 78
if score >= 90:
    message ='A'
else: # 0 ~ 89
    if score >= 80:
        message ='B'
    else: # 0 ~ 79
        if score >= 70:
            message ='C'
        else:
            if score >= 60:
                message ='D'
            else: # 0 ~ 59
                message ='F'
print(message)
# python type으로 변경
message = 'A' if score >= 90 else( 'B' if score >= 80
                             else( 'C' if score >= 70
                             else( 'D' if score >= 60
                             else 'F')))
print(message)

C
C