In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_3600\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
'''
score가 60이상이면 message 변수에 success를 아니면 message 에 failure를 
저장한 후 출력
'''
score = 78
if score >= 60:
    message = "success"
else:
    message= "failure"
print(message)
# python type으로 변경
message = "success" if score >= 60 else "failure"
print(message)

success
success

In [4]:
# 90이상이면 A, 80이상이면 B,..., 60이하면 F
if score >= 90:
    message = 'A'
elif score >= 80:
    message = 'B'
elif score >= 70:
    message = 'C'
elif score >= 60:
    message = 'D'
else:
    message = 'F'
print(message)

C

In [7]:
if score >= 90:
    message = 'A'
else:
    if score >= 80:
        message  = 'B'
    else:
        if score>=70:
            message = 'C'
        else:
            if score >= 60:
                message = 'D'
            else:
                message = 'F'
print(message)
# python type으로 변경
message = 'A' if score >= 90 else( 'B' if score >= 80
                             else( 'C' if score>=70 
                             else( 'D' if score >= 60
                             else  'F' )))
print(message)

C
C

In [9]:
# 사직연산 
# if ~ elif ~ else
a = 10; b = 20; opt = "sub"
if opt=="add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else:
    result = a / b
print(result)
# python style
result = a + b if opt=="add" else ( a - b if opt == "sub" 
                             else ( a * b if opt == "mul"
                             else a / b ))
print(result)
### 조건식 : if , if ~ else, if ~ elif ~ else, 중첩 if
### switch ~ case : python엔 없다.  딕셔너리로 대신

-10
-10

In [10]:
# 반복문 
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [14]:
start = 1
while start <= 10: ## 조건이 True인 경우에만 : 종료되는 시점은 조건식에서
    # print("나무를 %d번 찍었습니다." % start)
    # print(f"나무를 {start}번 찍었습니다.")
    print("나무를 {0}번 찍었습니다.".format(start))
    start += 1; # start = start + 1
print("나무가 넘어갑니다.")
# start = start + 1
# start = 1 + 1
# start = 2 + 1
# start = 3 + 1
# start = 4 + 1
# ...
# start = 8 + 1
# start = 9 + 1
# start = 10 + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [21]:
'''
8단 출력
8  * 1 = 8  # 8 * 1
8  * 2 = 16 # 8 * 2
8  * 3 = 24 # 8 * 3
8  * 4 = 32 # 8 * 4
8  * 5 = 40 # 8 * 5
8  * 6 = 8 * 6
8  * 7 = 8 * 7
8  * 8 = 8 * 8
8  * 9 = 8 * 9
'''
start = 1 # 초기값
while start <= 9: # 조건식
    print(f"8  * {start} = {8 * start}")
    #print("8  * %d = %d" % (start , 8 * start) )
    #print("8  * {0} = {1}".format(start , 8 * start))
    start += 1 # 증가식

8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72

In [25]:
dan =  int(input("단을 입력하세요."));
start = 1
while start <= 9:
    print(f"{dan} * {start} = {dan * start}")
    start += 1

단을 입력하세요.7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [28]:
dan =  int(input("단을 입력하세요. : "));
startGop = int(input("시작 곱을 입력하세요. : "))
endGop = int(input("마지막 곱을 입력하세요. : "))
start = startGop
while start <= endGop:
    print(f"{dan} * {start} = {dan * start}")
    start += 1

단을 입력하세요. : 5
시작 곱을 입력하세요. : 3
마지막 곱을 입력하세요. : 7
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

In [35]:
# 로또
l = [1,2,3,4,5,6]
#    0 1 2 3 4 5
print(l)
result = l.pop(3)
print(result)
print(l) # [1, 2, 3, 5, 6]
#           0  1  2  3  4 
idx = 0 # index를 랜덤으로 받기
result = l.pop(idx)
print(result)
print(l)

[1, 2, 3, 4, 5, 6]
4
[1, 2, 3, 5, 6]
1
[2, 3, 5, 6]

In [41]:
import random
l = [1,2,3,4,5,6]
#    0 1 2 3 4 5  : index
idx = random.randint(0,5)
print(idx)
print(l[idx])
result = l.pop(idx)
print(result)
print(l) # [1, 2, 3, 4, 6]
#           0  1  2  3  4
idx = random.randint(0,4)
print(idx)
print(l[idx])
result = l.pop(idx)
print(result)
print(l)

4
5
5
[1, 2, 3, 4, 6]
0
1
1
[2, 3, 4, 6]

In [69]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
print(lotto)

size = len(lotto)

y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0, size)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")
    y += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
8, 36, 33, 26, 14, 7,

In [71]:
#3단
start = 1
while start <= 9:
    print(f"3 * {start} = {3 * start}")
    start += 1

#4단
start = 1
while start <= 9:
    print(f"4 * {start} = {4 * start}")
    start += 1

#5단
start = 1
while start <= 9:
    print(f"5 * {start} = {5 * start}")
    start += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [76]:
# 2중 반복문
dan = 1
while dan <= 9:
    start = 1
    while start <= 9:
        print(f"{dan} * {start} = {dan * start}")
        start += 1
    dan += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [81]:
startDan = int(input("시작 단을 입력해주세요. : "))
endDan = int(input("마지막 단을 입력해주세요. : "))
startGop = int(input("시작 곱을 입력해주세요. : "))
endGop = int(input("마지막 곱을 입력해주세요. : "))
dan = startDan
while dan <= endDan:
    gop = startGop
    while gop <= endGop:
        #print(f"{dan} * {gop} = {dan * gop}")
        print("%d * %d = %d" % (dan, gop, dan * gop))
        gop += 1
    dan += 1

시작 단을 입력해주세요. : 4
마지막 단을 입력해주세요. : 6
시작 곱을 입력해주세요. : 4
마지막 곱을 입력해주세요. : 5
4 * 4 = 16
4 * 5 = 20
5 * 4 = 20
5 * 5 = 25
6 * 4 = 24
6 * 5 = 30

In [94]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
size = len(lotto) # 45
y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0, size)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")
    y += 1

19, 18, 40, 8, 17, 28,

In [99]:
qty =  int(input("구매수량을 입력하세요. : "))
lotto = []
cnt = 1
while cnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i) 
        i += 1
    size = len(lotto) # 45
    y = 1
    while y <= 6:
        size -= 1
        idx = random.randint(0, size)
        lottoNum = lotto.pop(idx)  
        print(lottoNum, end=", ")
        y += 1
    lotto.clear() # 빈리스트를 만들어 주기
    print()
    cnt += 1

구매수량을 입력하세요. : 6
41, 11, 10, 32, 42, 37,
2, 10, 25, 1, 43, 11,
30, 4, 39, 41, 8, 19,
45, 21, 42, 30, 28, 33,
37, 9, 39, 28, 5, 18,
1, 23, 33, 22, 43, 42,

In [102]:
### 1 ~ 100까지의 합을 구하시오.
'''
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
...
sum = sum + 100
'''
i = 1
sum = 0
while i <= 100:
    sum = sum + i
    i += 1
print(sum)
### 짝수의 합을 구하시오
i = 1
sum = 0
while i <= 100:
    if i % 2 == 0:
        sum += i
    i += 1
print(sum)
### 홀수의 합을 구하시오.
i = 1
sum = 0
while i <= 100:
    if i % 2 != 0:
        sum += i
    i += 1
print(sum)

5050
2550
2500

In [109]:
### 짝수의 합을 구하시오
i = 0
sum = 0
while i < 100:
    i += 1
    if i % 2 != 0:
        continue
    sum += i
print(sum)

### 홀수의 합을 구하시오.
i = 0
sum = 0 
while i <= 99:
    i += 1
    if i % 2 == 0:
        continue
    sum += i
print(sum)

2550
2500

In [111]:
### 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while True:
    if i > 100:
        break # 반복문 종료
    sum += i
    i += 1
    #print(i)
print(sum)

5050

In [114]:
l = [34,76,99,45,78,89]
# 리트스의 합을 구하시오.
sum = 0
sum = sum + l[0]
sum = sum + l[1]
sum = sum + l[2]
sum = sum + l[3]
sum = sum + l[4]
sum = sum + l[5]
print(sum)
idx = 0
sum =0
while idx < len(l):
    sum += l[idx]
    idx += 1
print(sum)

# for each
sum = 0
for num in l: # [34,76,99,45,78,89]
    sum += num
print(sum)

421
421
421

In [116]:
t = (34,76,99,45,78,89)
sum = 0
for num in t:
    sum += num
print(sum)
print("==" * 30)
i = 0
sum = 0
size = len(t)
while i < size:
    sum += t[i]
    i += 1
print(sum)

421
============================================================
421

In [119]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while i < 101:
    sum += i
    i += 1
print(sum)
print("==" * 30)
sum = 0
for i in range(1, 101):
    sum += i
print(sum)

5050
============================================================
5050

In [124]:
# 1 ~ 100중 홀수의 합을 구하시오
i = 0
sum = 0
while i < 100:
    i += 1
    if i % 2 == 0:
        continue
    sum += i
print(sum)
print("==" * 30)
sum = 0
for i in range(1, 1 + 100):
    if i % 2 == 0:
        continue
    sum += i
print(sum)

2500
============================================================
2500

In [127]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while True:
    if i > 100:
        break
    sum += i
    i += 1
print(sum)
print("==" *30 )
sum = 0
for i in range(1, 1000000):
    if i > 100:
        break
    sum += i
print(sum)

5050
============================================================
5050

In [130]:
# 5단
gop = 1
while gop < 10:
    print(f"5 * {gop} = {5 * gop}")
    gop += 1
print("==" * 30)
for gop in range(1, 10):
    print(f"5 * {gop} = {5 * gop}")

for gop in range(1, 10):
    print(f"6 * {gop} = {6 * gop}")

for gop in range(1, 10):
    print(f"7 * {gop} = {7 * gop}")
    
for gop in range(1, 10):
    print(f"8 * {gop} = {8 * gop}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
============================================================
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [133]:
dan = 5
while dan <= 8:
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")
    dan += 1
print("==" * 30)
for dan in range(5, 9):
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
============================================================
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [137]:
startDan = int(input("시작단을 입력하세요. : "))
endDan = int(input("마지막단을 입력하세요. : "))
startGop = int(input("시작곱을 입력하세요. : "))
endGop = int(input("마지막곱을 입력하세요. : "))
for dan in range(startDan, endDan + 1):
    for gop in range(startGop, endGop + 1):
        print(f"{dan} * {gop} = {dan * gop}")

시작단을 입력하세요. : 2
마지막단을 입력하세요. : 5
시작곱을 입력하세요. : 4
마지막곱을 입력하세요. : 7
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

In [139]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
size = len(lotto) # 45
y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0, size)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")
    y += 1
print()
print("==" * 30)
lotto = []
for i in range(1, 45 +1):
    lotto.append(i)
size = len(lotto)
for count in range(0, 6):
    size -= 1
    idx = random.randint(0, size)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")

33, 18, 32, 45, 35, 3,
============================================================
12, 22, 33, 13, 20, 9,

In [142]:
cnt =  int(input("구매수량을 입력하세요 : "))
for qty in range(0, cnt):
    lotto = []
    for i in range(1, 45 +1):
        lotto.append(i)
    size = len(lotto)
    for count in range(0, 6):
        size -= 1
        idx = random.randint(0, size)
        lottoNum = lotto.pop(idx)
        print(lottoNum, end=", ")
    print()

구매수량을 입력하세요 : 5
36, 2, 4, 39, 31, 45,
8, 30, 31, 40, 39, 16,
4, 26, 9, 13, 27, 20,
31, 43, 4, 9, 40, 14,
21, 36, 17, 15, 30, 18,

In [147]:
l1 = [(1,2),(3,4),(5,6)]
for t in l1:
    print(t)
    print(t[0] + t[1])

# 변수 선언 : 
a,b = (1,2)
print( a + b)
print("==" * 30)
for a, b in l1:
    print(a +b)

(a,b) = (1,2)
for (a,b) in l1:
    print(a + b)

(1, 2)
3
(3, 4)
7
(5, 6)
11
3
============================================================
3
7
11
3
7
11

In [149]:
l2 = [[1,2,3],[4,5,6],[7,8,9]]
for a,b,c in l2:
    print(a + b+ c)
for (a,b,c) in l2:
    print(a + b+ c)
for [a,b,c] in l2:
    print(a + b+ c)

6
15
24
6
15
24
6
15
24

In [ ]:
#  요소의 크기가 다른 경우에는 사용하지 못한다.
'''
l2 = [[1,2,3],[4,5],[7,8,9,10]]
for a,b,c,d in l2:
    print(a,b,c,d)
'''

In [156]:
# 리스트를 포함한 반복문
l = []
for num in range(1, 10):
    l.append(num)
print(l)

l = [num for num in range(1, 10)]
print(l)

# 로또
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
lotto = [] 
for i in range(1, 46):
    lotto.append(i)
    
print("==" * 30)

lotto= [i for i in range(1, 46)]
print(lotto)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
============================================================
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [158]:
t = (1,2,3,4)
l = [] 
# 튜플에 있는 값에 3을 곱해서 리스트에 저장해라.
for num in t:
    l.append(num * 3)
print(l)
print("==" * 30)
l = [num * 3 for num in t]
print(l)

[3, 6, 9, 12]
============================================================
[3, 6, 9, 12]

In [160]:
t = 1,2,3,4,5,6,7,8,9
l = []
#튜플에 있는 값중 짝수만 3을 곱해서 리스트에 저장
for num in t:
    if num % 2 == 0:
        l.append(num * 3)
print(l)
print("==" * 30)
l = [num * 3 for num in t if num % 2 == 0]
print(l)

[6, 12, 18, 24]
============================================================
[6, 12, 18, 24]

In [164]:
l =[]
for dan in range(3,6):
    for gop in range(1, 10):
        l.append(dan * gop)
print(l)
print("==" * 30)
l = [dan * gop for dan in range(3,6)
               for gop in range(1, 10)]

#  3~5단의 곱의 값이 짝수만 리스트에 저장
l = []
for dan in range(3, 6):
    for gop in range(1, 10):
        if dan * gop % 2 == 0:
            l.append(dan* gop)
print(l)
print("==" * 30)
l = [dan* gop for dan in range(3, 6) 
              for gop in range(1, 10) if dan * gop % 2 == 0 ]
print(l)

# 제어문 : 조건문  단일  if, if ~ else if ~ elif ~ else , 중첩if문 , 
#         반복문 while, for each, continue, break,리스트를 포함한 반복문

[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
============================================================
[6, 12, 18, 24, 4, 8, 12, 16, 20, 24, 28, 32, 36, 10, 20, 30, 40]
============================================================
[6, 12, 18, 24, 4, 8, 12, 16, 20, 24, 28, 32, 36, 10, 20, 30, 40]

In [165]:
# 함수(function) : x값에 따른 y값의 변화를 알고 싶을 때
'''
f(x) = 2x + 3일때 
y = f(4)라면 y값은 얼마가 되나요? 11
y = f(5)라면 y값은 얼마가 되나요? 13
'''
def f(x):  # 피호출함수 : x를 가인자(parameter)
    return 2 * x + 3

In [166]:
y = f(4)  # 호출함수 : 4를 인자(argument)
print(y)

11

In [167]:
y = f(5)
print(y)

13

In [186]:
'''
f(x1, x2) = 3x1 + 5x2 + 4일 때
y = f(4, 5)라면 y값은?
'''
def f(x1, x2): # x1, x2 : 가인자 , parameter : 매개변수
    return 3*x1 + 5*x2 +4

In [187]:
y = f(4, 5)
print(y)
## argument값을 parameter에 전달
## argument와 parameter는 1대1대응해야 한다.
## argument와 parameter의 갯수는 같아야 한다.
## 호출함수를 실행하려면 피호출함수는 먼저 실행되어 있어야 한다.
## 피호출함수를 호출하기 위해서는 호출함수의 이름은 피호출함수와 같아야 한다.
## return문 뒤에 있는 결과값은 호출함수에 전달된다.
'''
함수의 정의 : 피호출함수 정의
def  함수명(parameter_1,parameter_2,...,parameter_n):
    명령어1
    명령어2
    명령어3
    ...
    명령어n
    return 결과값

변수 = 함수명(argument_1, agument_2,...,argument_n)
print(변수)
'''

41

In [188]:
def sum(x1, x2):
    return x1 + x2

In [189]:
y = sum(3, 5)
print(y)

8

In [190]:
#3단
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}");

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [191]:
def gugu3():
    for gop in range(1, 10):
        print(f"3 * {gop} = {3 * gop}");

In [192]:
gugu3()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [195]:
#3단
dan = 3
for gop in range(1, 10):
    print(f"{dan} * {gop} = {dan * gop}");

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [196]:
def guguDan(dan):
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}");

In [201]:
dan = int(input("원하는 단을 입력해주세요"))
guguDan(dan)

원하는 단을 입력해주세요4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [202]:
def guguDan2(startDan, endDan, startGop, endGop):
    for dan in range(startDan, endDan + 1):
        for gop in range(startGop, endGop + 1):
            print(f"{dan} * {gop} = {dan * gop}")

In [203]:
guguDan2(2, 4, 5, 7)

2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28

In [204]:
startDan = int(input("시작단을 입력하세요. : "))
endDan = int(input("마지막단을 입력하세요. : "))
startGop = int(input("시작곱을 입력하세요. : "))
endGop = int(input("마지막곱을 입력하세요. : "))
guguDan2(startDan, endDan, startGop, endGop)

시작단을 입력하세요. : 3
마지막단을 입력하세요. : 5
시작곱을 입력하세요. : 4
마지막곱을 입력하세요. : 7
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

In [205]:
def guguDan3():
    startDan = int(input("시작단을 입력하세요. : "))
    endDan = int(input("마지막단을 입력하세요. : "))
    startGop = int(input("시작곱을 입력하세요. : "))
    endGop = int(input("마지막곱을 입력하세요. : "))
    for dan in range(startDan, endDan + 1):
        for gop in range(startGop, endGop + 1):
            print(f"{dan} * {gop} = {dan * gop}")

In [206]:
guguDan3()

시작단을 입력하세요. : 3
마지막단을 입력하세요. : 4
시작곱을 입력하세요. : 5
마지막곱을 입력하세요. : 6
3 * 5 = 15
3 * 6 = 18
4 * 5 = 20
4 * 6 = 24

In [215]:
# 함수의 유형 : 4가지 유형
# 1. 입력값(parameter)이 있고 출력값(return)도 있는 경우
def add(x1, x2):
    result = x1 + x2
    return result

In [216]:
k =  int(input("숫자를 입력해주세요. "))
j =  int(input("숫자를 입력해주세요. "))
i = add(k, j)
print(i)

숫자를 입력해주세요. 3
숫자를 입력해주세요. 5
8

In [213]:
# 2. 입력값(parameter)은 없고 출력값(return)만 있는 경우
def add():
    x1 = int(input("숫자를 입력해주세요. "))
    x2 = int(input("숫자를 입력해주세요. "))
    result = x1 + x2
    return result

In [214]:
i = add()
print(i)

숫자를 입력해주세요. 3
숫자를 입력해주세요. 7
10

In [217]:
# 3. 입력값(parameter)은 있고 출력값(return)이 없는 경우
def add(x1 ,x2):
    result = x1 + x2
    print(result)

In [219]:
k = int(input("숫자를 입력하세요 : "))
j = int(input("숫자를 입력하세요 : "))
add(k, j)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 7
10

In [222]:
# 4. 입력값(parameter)이 없고 출력값(return)도 없는 경우
def add():
    x1 = int(input("숫자를 입력해주세요. : "))
    x2 = int(input("숫자를 입력해주세요. : "))
    result = x1 + x2
    print(result)

In [223]:
add()

숫자를 입력해주세요. : 3
숫자를 입력해주세요. : 7
10

In [247]:
def lottoFnc():
    cnt =  int(input("구매수량을 입력하세요 : "))
    for qty in range(0, cnt):
        lotto = []
        for i in range(1, 45 +1):
            lotto.append(i)
        size = len(lotto)
        for count in range(0, 6):
            size -= 1
            idx = random.randint(0, size)
            lottoNum = lotto.pop(idx)
            print(lottoNum, end=", ")
        print()

In [227]:
lottoFnc()

구매수량을 입력하세요 : 5
7, 11, 27, 25, 44, 8,
34, 12, 15, 10, 45, 13,
5, 2, 1, 35, 33, 14,
35, 31, 16, 42, 4, 28,
4, 34, 19, 6, 41, 43,

In [244]:
def lottoFnc1(cnt):
    for qty in range(0, cnt):
        lotto = []
        for i in range(1, 45 +1):
            lotto.append(i)
        size = len(lotto)
        for count in range(0, 6):
            size -= 1
            idx = random.randint(0, size)
            lottoNum = lotto.pop(idx)
            print(lottoNum, end=", ")
        print()

In [248]:
cnt =  int(input("구매수량을 입력하세요 : "))
lottoFnc1(cnt)

구매수량을 입력하세요 : 5
30, 15, 37, 17, 40, 41,
1, 41, 27, 7, 30, 13,
3, 13, 26, 36, 38, 23,
32, 19, 6, 13, 35, 41,
41, 23, 31, 6, 8, 17,

In [249]:
lottoFnc()

구매수량을 입력하세요 : 5
45, 23, 9, 11, 25, 8,
10, 9, 36, 26, 37, 39,
16, 11, 42, 39, 10, 28,
44, 41, 29, 15, 22, 37,
30, 21, 24, 28, 45, 29,

In [251]:
# 1 ~ 100까지의 합을 구하시오.
sum = 0
for num in range(1, 101):
    sum += num
print(sum)

5050

In [252]:
def sum1():
    sum = 0
    for num in range(1, 101):
        sum += num
    print(sum)

In [258]:
sum1()

5050

In [261]:
def sum1(start , end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
    print(sum)

In [263]:
sum1(1, 100)
sum1(100, 1000)

5050
495550

In [264]:
def sum1(start , end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
    return sum

In [267]:
result = sum1(1, 100)
print(result)
result = sum1(100, 1000)
print(result)

5050
495550

In [279]:
# parameter이름을 이용해서 값을 전달
def sum12(start , end):
    sum0 = 0
    for num in range(start , end + 1):
        sum0 += num
    print(sum0)

In [283]:
sum12(1, 100)
sum12(end=100, start=1)
sum12(1, end=100)

5050
5050
5050

In [284]:
def sum12(a,b,c,d):
    print(a+b+c+d)

In [287]:
sum12(1,2,3,4)
sum12(c=3, a=2,d=7,b=10)
sum12(10,20, d= 20, c= 20)
sum12(10,c = 20, d = 30, b= 100)

10
22
70
160

In [294]:
def sum11(* para):
    print(para)
    result = 0
    for num in para:
        result += num
    print(result)

In [295]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5,6,7)

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5, 6, 7)
28

In [298]:
def sum13(* para):
    result = 1
    if para[0] == 'add':
        for idx in range(1, len(para)):
            result += para[idx]
    elif para[0] == 'sub':
        for idx in range(1, len(para)):
            result -= para[idx]
    elif para[0] == 'mul':
        for idx in range(1, len(para)):
            result *= para[idx]
    elif para[0] == 'div':
        for idx in range(1, len(para)):
            result /= para[idx]
    print(result)

In [299]:
sum13('add',2,4,56,6,7)
sum13('mul',2,3,4,5,6,7)

76
5040

In [304]:
def sum14(opt , *para):
    result = 1
    if opt == "add":
        for num in para:
            result += num
    elif opt == "sub":
        for num in para:
            result -= num
    elif opt == "mul":
        for num in para:
            result *= num
    elif opt == "div":
        for num in para:
            result /= num
    print(result)

In [305]:
sum14('add',2,4,56,6,7)
sum14('mul',2,3,4,5,6,7)

76
5040

In [306]:
# 함수의 기본 : 결과값은 오직 하나이어야 한다.
def add_mul(x, y):
    i = x + y
    j = x * y
    return i, j

In [308]:
result = add_mul(3, 5)
print(result)
x1 , x2 = add_mul(3, 5)
print(x1, x2)

(8, 15)
8 15

In [311]:
def add_mul(x, y):
    i = x + y
    j = x * y
    return i # return은 함수를 종료하겠다.
    return j # 이미 함수가 종료되어서 실행되지 않는다.

In [310]:
result = add_mul(1, 5)
print(result)

6

In [317]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [318]:
say_myself('이숭무', 35, True)
say_myself(old=35, man=True, name='이숭무')
# say_myself('이숭무', 35) : say_myself() missing 1 required positional argument: 'man'

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.

TypeError: say_myself() missing 1 required positional argument: 'man'

In [319]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [322]:
say_myself('이숭무', 35)
say_myself('오연희', 45, False)
say_myself('이상범', 18, True)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.
나의 이름은 오연희입니다.
나의 나이는 45입니다.
여자입니다.
나의 이름은 이상범입니다.
나의 나이는 18입니다.
남자입니다.

In [323]:
def say_myself(name, old = 30, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [328]:
say_myself('이숭무')
say_myself('오연의' , 50)
say_myself('박준현', 40, False)
say_myself('이숭무', man=False)
say_myself('이상범', False)

나의 이름은 이숭무입니다.
나의 나이는 30입니다.
남자입니다.
나의 이름은 오연의입니다.
나의 나이는 50입니다.
남자입니다.
나의 이름은 박준현입니다.
나의 나이는 40입니다.
여자입니다.
나의 이름은 이숭무입니다.
나의 나이는 30입니다.
여자입니다.
나의 이름은 이상범입니다.
나의 나이는 0입니다.
남자입니다.

In [329]:
''' 매개변수의 초기 값은 맨 뒤에서부터 초기값을 줘야 한다.
def say_myself(name, old = 30, man ):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
'''

SyntaxError: non-default argument follows default argument (2521906555.py, line 1)

In [330]:
### lambda함수
def add(a,b):
    return a + b

In [341]:
result = add(3, 5)
print(result)

8

In [342]:
add = lambda a,b : a + b

In [339]:
result = add(3, 5)
print(result)

8

In [335]:
def add(a, b):
    print(a + b)

In [336]:
add(3, 5)

8

In [343]:
add = lambda a, b : print(a + b)

In [344]:
add(3, 5)

8

In [350]:
def calu(opt , a, b):
    if opt == "add":
        return a + b
    else:
        return a - b

In [354]:
result = calu("add", 3,4)
print(result)

7

In [352]:
calu = lambda opt , a, b :  a + b if opt == "add" else a - b

In [353]:
result = calu("add", 3,4)
print(result)

7

In [355]:
def calu(opt , a, b):
    if opt == "add" :
        print(a+b)
    else:
        print("덧셈만 가능")

In [356]:
calu("mul", 3, 5)

덧셈만 가능

In [357]:
calu = lambda opt , a, b: print(a+b) if opt == "add" else  print("덧셈만 가능")

In [359]:
calu("mul", 3, 5)

덧셈만 가능

In [363]:
opt = 'mul'; a = 10; b = 20 
if opt == "add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else:
    result = a / b

In [367]:
opt = 'mul';a = 10;b = 20 
result = a + b if opt == "add" else (
         a - b if opt == "sub" else (
         a * b if opt == "mul" else 
         a / b))
print(result)

200

In [368]:
def calc(opt, a, b):
    if opt == "add":
        return a + b
    elif opt == "sub":
        return a - b
    elif opt == "mul":
        return a * b
    else:
        return a / b

In [409]:
# 함수정의
calc = lambda opt, a, b : a + b if opt == "add" else(
                          a - b if opt == "sub" else(
                          a * b if opt == "mul" else
                          a / b ))

In [420]:
# 함수 호출
result = calc("add", 30, 20)
print(result)

50

In [421]:
def add(a, b=4):
    return a +b

In [423]:
result = add(3)
print(result)

7

In [424]:
add = lambda a, b=4 : a +b

In [426]:
result = add(3)
print(result)

7

In [438]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에서만 사용가능한 변수, 함수안에 정의 되어 있는 변수
b = 100 # 전역변수
def test3():
    print(b)

In [439]:
test3()

100

In [441]:
# 전역 변수의 이름과 지역변수의 이름이 같은 경우 함수안에서는 지역변수가 우선한다.
b = 1 # 전역변수
def test3():
    b = 100 # 지역변수
    c = 1000
    print("함수안에서 실행 : " , b)
    print("함수안에서 실행 : " , c)
test3()
print("함수밖에서 실행 : " , b)

함수안에서 실행 :  100
함수안에서 실행 :  1000
함수밖에서 실행 :  1

In [443]:
b = 1 # 전역변수
def test3():
    global b
    b = 100 # 전역변수
    c = 1000
    print("함수안에서 실행 : " , b)
    print("함수안에서 실행 : " , c)
test3()
print("함수밖에서 실행 : " , b)

함수안에서 실행 :  100
함수안에서 실행 :  1000
함수밖에서 실행 :  100